:root {
    --box-thickness: 4px solid var(--pale-pink);
    
}

.sudoku_button_menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.sudoku_button_menu div {
    border: 1px solid var(--pale-pink);
    border-radius: 4px;
    color: var(--pink);
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    user-select: none;
}

.sudoku_button_menu div:hover {
    background-color: var(--pale-pink);
    cursor: pointer;
}

#difficulty_menu div {
    margin: 5px 10px;
    height: 20px;
}

#sudoku_content {
    display: flex;
    flex-direction: column;
}

.row {
    border-left: var(--box-thickness);
    border-right: var(--box-thickness);
    display: flex;
    flex-direction: row;
}

.cell {
    border: 1px solid var(--pale-pink);
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    user-select: none;
    text-align: center;
    line-height: 50px;
}

.cell:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.note_grid {
    display: grid;
    grid-template-areas:
        'note_1 note_2 note_3'
        'note_4 note_5 note_6'
        'note_7 note_8 note_9';
    justify-content: space-between;
}

.note_1, .note_2, .note_3, .note_4, .note_5, .note_6, .note_7, .note_8, .note_9 {
    height: 15px;
    width: 15px;
    padding-top: 2px;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.note_1 {
    grid-area: note_1;
}

.note_2 {
    grid-area: note_2;
}

.note_3 {
    grid-area: note_3;
}

.note_4 {
    grid-area: note_4;
}

.note_5 {
    grid-area: note_5;
}

.note_6 {
    grid-area: note_6;
}

.note_7 {
    grid-area: note_7;
}

.note_8 {
    grid-area: note_8;
}

.note_9 {
    grid-area: note_9;
}

.note_toggle_active, .note_toggle_active:hover {
    color: var(--sea-green) !important;
}

.cToSea:hover {
    background-color: var(--jet) !important;
    cursor: default !important;
}

.top_row {
    border-top: var(--box-thickness);
}

.bottom_row {
    border-bottom: var(--box-thickness);
}

.box_right {
    border-right: var(--box-thickness);
}

.selected {
    background-color: var(--grey);
}

.difficulty {
    background-color: var(--pale-pink);
}

#win_box {
    height: 0px;
    display: none;
    transition: all 0.2s ease-out;
}

#win_box:hover {
    cursor: pointer;
}

#not_done_box {
    height: 0px;
    display: none;
    transition: all 0.2s ease-out;
}

#not_done_box:hover {
    cursor: pointer;
}

.show {
    height: auto !important;
    display: block !important;
    margin-top: 10px !important;
    margin-bottom: -10px !important;
}

#numbers {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#numbers div {
    border: 1px solid var(--pale-pink);
    border-radius: 4px;
    display: flex;
    color: var(--pale-pink);
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 40px;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#numbers div:hover {
    background-color: var(--pink);
    cursor: pointer;
}

#information {
    text-align: center;
    font-size: 15px;
}

#information a {
    color: var(--pink);
}

#information a:visited {
    color: var(--sea-green);
}

@media only screen and (max-width: 600px) {
    .cell {
        font-size: 20px !important;
        height: 30px !important;
        width: 30px !important;
        line-height: 30px !important;
    }

    #information {
        font-size: 20px;
        text-align: center;
    }

    #numbers div {
        width: 37px;
    }
}
